# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

fv.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.egg-info
build
_skbuild
dist

.DS_Store
.vscode/*
.clang-format
CMakeUserPresets.json

*.pyd
*.pyc
__pycache__/

projects
build-test

examples/box/ret-box

.cache/
.venv/
.mypy_cache/

build-pypgo
